{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>{{ capitalize 'Lorem ipsum dolor' }}</h1>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum blandit sem ut dictum.
            Maecenas vehicula massa vitae pulvinar tincidunt. Ut eget lectus sed lacus rhoncus semper et et libero.
            Fusce viverra nisl id faucibus malesuada. Etiam laoreet, dolor in ullamcorper dapibus, tellus sapien
            efficitur tellus, eget egestas augue nibh quis ligula. Donec blandit enim tincidunt, pretium libero vitae,
            interdum elit. Vivamus eget ex at dolor aliquam hendrerit ac eu purus. Nulla facilisi. Quisque tempus mi
            nisl, sollicitudin faucibus nibh vestibulum at. Fusce ut porttitor odio, nec pulvinar nisi. Donec vitae
            nulla euismod, aliquet risus id, posuere tortor. Cras nibh massa, viverra in lectus quis, vehicula rutrum
            quam. Fusce euismod, ex in tempor condimentum, enim eros venenatis magna, eu dignissim eros libero in dolor.
            Integer a erat id eros ultricies sodales a vitae justo. Proin porta nisl vitae interdum tempor. Donec
            feugiat orci mattis ipsum euismod, ut consequat dolor dictum.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/grumpy_cat.png" class="img-thumbnail">
    </div>
</div>

{{>footer }}
